.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fafcfe;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #030302;
  font-size: 5rem;
  color: #1102e1;
}

h3 {
text-align: center;
  font-size: 2rem;
  color: #1102e1;
  font-family: 'Indie Flower', cursive;

}


p {
  font-size: 2rem;
  color: #1102e1;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #1102e1;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
